.Mother-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: stretch;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
.App-header {
  background-color: #34A5DA;
  min-height: 10vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
  font-size: calc(10px + 2vmin);
  color: #000000;
  margin-top: 0;
  width:100vh;
}
.Home{
  margin-left: 2em;
  font-size: .8em;
}
.Info-box {
  background-color: #222222;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
  width:100vh;
}
.White-box {
  background-color: #EBEBEB;
  min-height: 48vh;
  color: black;
  width:80vh;
  margin-top:-1em;
}
.Links-bar {
  background-color: #222222;
  min-height: 7vh;
  color: black;
  width:80vh;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  align-content: stretch;
  
  
  
}
.Previous-button {
  background: #222222;
  color:white;
  border:none;
  text-transform: capitalize;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size: .7em;

}
.Edit-delete-new {
  background: #222222;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  align-content: stretch;
  

}
.Next-button {
  background: #222222;
  color: white;
  border:none;
  text-transform: capitalize;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size: .7em;

}
.Button {
  background-color: #34A5DA;
  border:none;
  color:white;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size: .7em;
  margin-left: 2em;
  border-radius: 10px;
  height: 1.7em;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
